
h1{
	background-image: url(../images/laptop.jpg);
	text-align:center;
	font-family: 'Source Serif Pro', serif;
	background-repeat:no-repeat;
	background-position:center;
	padding-left:20px;
	line-height:300%;
	height:72px;
	margin-bottom:0;
}
#wrapper{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	height:100%;
	
	
	
			
			
}
nav{
	font-family: 'Comfortaa', cursive;
	float:right; 
}
nav a{
	text-decoration:none;
}
nav a:link{
	color:#000033;
}
nav a:visted{
	color:#344873;	
}
nav a:hover{
	color:#B3E5F7
}
nav a:active{
	color:#000000
}